{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}


<div class="container-fluid bg-dark mt-3 pb-3">
  <h5 class=" pt-3">Featured products</h5>
  <p class="text-light">Discover our most popular picks</p>
  <div class="row g-2">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="static/shoes/adizero.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <form>
            <h5 class="">Nike</h5>
            <p>Classic Adizero</p>
            <p class="fw-semibold">KSH 3500</p>
            <p class=""><small class="text-body-secondary">12 units left</small></p>
            <button href=""
              class="btn btn-primary text-light border border-0 rounded-pill  px-4 fw-semibold add-cart mx-auto p-2" id="cart"
              style="background-color: #e27a0e">
              Add to cart
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="static/shoes/air_max_97.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <form>
            <h5 class="">Nike</h5>
            <p>Air Max</p>
            <p class="fw-semibold">KSH 3500</p>
            <p class=""><small class="text-body-secondary">12 units left</small></p>
            <button href=""
              class="btn btn-primary text-light border border-0 rounded-pill p-2 px-4 fw-semibold add-cart" id="cart"
              style="background-color: #e27a0e">
              Add to cart
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="static/shoes/dg.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <form>
            <h5 class="">The DG</h5>
            <p>Classic dg</p>
            <p class="fw-semibold">KSH 3500</p>
            <p class=""><small class="text-body-secondary">12 units left</small></p>
            <button href=""
              class="btn btn-primary text-light border border-0 rounded-pill p-2 px-4 fw-semibold add-cart" id="cart"
              style="background-color: #e27a0e">
              Add to cart
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="card">
        <img src="static/shoes/north_face_boot.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <form>
            <h5 class="">North Face</h5>
            <p>north face boot</p>
            <p class="fw-semibold">KSH 3500</p>
            <p class=""><small class="text-body-secondary">12 units left</small></p>
            <button href=""
              class="btn btn-primary text-light border border-0 rounded-pill p-2 px-4 fw-semibold add-cart" id="cart"
              style="background-color: #e27a0e">
              Add to cart
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
